{% extends 'base.html' %}
{% load static %}
{% block content %}
      <div class="wrapper-main">
         <div class="block-text">
            <h1>О нас</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ullam dolores dolor accusamus
               voluptate,
               quas iusto minima delectus vero quibusdam dicta sint libero nihil illo enim natus distinctio non nam.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ullam dolores dolor accusamus
               voluptate,
               quas iusto minima delectus vero quibusdam dicta sint libero nihil illo enim natus distinctio non nam.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ullam dolores dolor accusamus
               voluptate,
               quas iusto minima delectus vero quibusdam dicta sint libero nihil illo enim natus distinctio non nam.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ullam dolores dolor accusamus
               voluptate,
               quas iusto minima delectus vero quibusdam dicta sint libero nihil illo enim natus distinctio non nam.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ullam dolores dolor accusamus
               voluptate,
               quas iusto minima delectus vero quibusdam dicta sint libero nihil illo enim natus distinctio non nam.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ullam dolores dolor accusamus
               voluptate,
               quas iusto minima delectus vero quibusdam dicta sint libero nihil illo enim natus distinctio non nam.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ullam dolores dolor accusamus
               voluptate,
               quas iusto minima delectus vero quibusdam dicta sint libero nihil illo enim natus distinctio non nam.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ullam dolores dolor accusamus
               voluptate,
               quas iusto minima delectus vero quibusdam dicta sint libero nihil illo enim natus distinctio non nam.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ullam dolores dolor accusamus
               voluptate,
               quas iusto minima delectus vero quibusdam dicta sint libero nihil illo enim natus distinctio non nam.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ullam dolores dolor accusamus
               voluptate,
               quas iusto minima delectus vero quibusdam dicta sint libero nihil illo enim natus distinctio non nam.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ullam dolores dolor accusamus
               voluptate,
               quas iusto minima delectus vero quibusdam dicta sint libero nihil illo enim natus distinctio non nam.</p>
         </div>
         <div class="blokc-docs">
            <div class="doc-1">
               <img src="/static/img/docs.svg" alt="Logo">
            </div>
            <div class="doc-2">
               <img src="/static/img/docs.svg" alt="Logo">
            </div>
            <div class="doc-3">
               <img src="/static/img/docs.svg" alt="Logo">
            </div>
         </div>

      </div>
{% endblock%}