{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{% static 'css/style.css'%}">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet">
   <title>Регистрация</title>
</head>
<!--Поменять на post ибо пароли так таскать идея мертвая-->

<body>
   <div class="wrapper-login">
      <form class="wrapper-login-form" method="POST">
         {% csrf_token %}
         {%for f in  form%}
            {{ f }}
            {{f.errors}}
         {%endfor%}
         <button type="submit" >Enter</button>

      </form>
   </div>
   <script src="{% static 'js/script.js' %}"></script>
</body>

</html>


<!--<input type="email" name="email" id="email" placeholder="Email">
         <input type="password" name="password" id="password" placeholder="Password">-->